In [60]:
import matplotlib.pyplot as plt
import numpy as np
import openpyxl
import os
import pandas as pd
import seaborn as sns

In [61]:
os.chdir('/Users/zacharyellis/Downloads/')
monthly_report = 'Sept9_run_report.xlsx'
df = pd.read_excel(monthly_report)

df['start_date'] = pd.to_datetime(df['start_date'])
df_ordered_by_time = df.sort_values(by='start_date', ascending=False)
df = df_ordered_by_time

In [63]:
distance_filter = df['distance'] >= 6
distance_filter2 = df['distance'] <= 10
df2 = df[distance_filter & distance_filter2]
# df2.insert(4, 'Pace', 'Bre')

df2

            id start_date  distance  elevation_gain   hours
9   5887656218 2021-09-01      9.02             186  1.3014
22  5874445375 2021-08-29      6.07             142  0.8658
10  5853811517 2021-08-25      8.01              88  1.1989
12  5716552442 2021-07-31      7.85             185  1.1642
14  5680785762 2021-07-24      7.04              67  1.0464
15  5666094683 2021-07-21      7.01             164  1.0375
21  5641895734 2021-07-17      6.11             176  0.9072
18  5376973048 2021-05-29      6.40             182  0.7758
8   4044569971 2020-09-11      9.10               0  1.2667
16  3597350357 2020-06-11      6.66              39  0.9117
20  3474277764 2020-05-18      6.21             117  0.8825
19  3432238424 2020-05-10      6.30             129  0.9011
17  3257701893 2020-04-05      6.57               0  0.9042
6   4231149166 2020-03-08      9.67               0  1.0969
11  2810630510 2019-10-20      8.00             115  1.3764
13  2767735942 2019-10-03      7.27             129  1.3344
7   2731365950 2019-09-22      9.10               0  1.1833

In [67]:
df2.to_numpy
elevation_gain = df2.loc[:, 'elevation_gain'].values
distance = df2.loc[:, 'distance'].values
hours = df2.loc[:, 'hours'].values

In [68]:
avg_eg = df2['elevation_gain'].mean()
avg_dis = df2['distance'].mean()
avg_hr = df2['hours'].mean()

print("Average elevation gain:", avg_eg)
print("Average distance:", avg_dis)
print("Average time:", avg_hr)

print("Average pace: 8:37 per/mile")

Average elevation gain: 101.11764705882354
Average distance: 7.43470588235294
Average time: 1.067905882352941
Average pace: 8:37 per/mile

In [69]:
df2.to_excel("6-10milers_updated.xlsx",
             sheet_name='Sheet_name_1')